<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tribal.mapper.CsdnMapper">

    <resultMap id="BaseResultMap" type="com.example.tribal.entity.Csdn">
        <result column="ID" jdbcType="INTEGER" property="id"/>
        <result column="TITLE" jdbcType="VARCHAR" property="title"/>
        <result column="TIME" jdbcType="VARCHAR" property="time"/>
        <result column="CATEGORY" jdbcType="VARCHAR" property="category"/>
        <result column="CONTENT" jdbcType="VARCHAR" property="content"/>
    </resultMap>


    <insert id="insert1"  parameterType="java.util.List">
        INSERT INTO csdn
        (title, time,category,content)
        VALUES
        <foreach collection="csdnList" item="csdn" separator=",">
            (#{csdn.title}, #{csdn.time}, #{csdn.category},#{csdn.content})
        </foreach>
    </insert>


</mapper>